<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<h1 mat-dialog-title>Tienes una video llamada de {{data.caller}}</h1>
<!--<div mat-dialog-content>
  <mat-form-field [cdkCopyToClipboard]="data.peerId" (click)="showCopiedSnackBar()">
    <mat-label>{{ data.joinCall ? 'INSERT REMOTE ID' : 'CLICK TO COPY YOUR ID' }}</mat-label>
    <input [disabled]="!data.joinCall" matInput [(ngModel)]="data.peerId">
  </mat-form-field>
</div>-->

<button mat-raised-button [mat-dialog-close]="accepted">Aceptar</button>
&nbsp;&nbsp;
<button mat-raised-button [mat-dialog-close]="rejected">Rechazar</button>
<!--<mat-icon>phone_missed</mat-icon>
<div mat-dialog-actions>


<mat-icon mat-raised-button [mat-dialog-close]="data.peerId">phone_missed</mat-icon>

</div>-->
