<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div><strong>Productos que me han solicitado</strong></div>
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->



        <ng-container matColumnDef="groupHeader">
        <mat-cell *matCellDef="let group">
          <mat-icon *ngIf="group.expanded">expand_less</mat-icon>
          <mat-icon *ngIf="!group.expanded">expand_more</mat-icon>
          <strong>{{group.group}}</strong>
          <mat-icon (click)="details($event)">edit</mat-icon>

        </mat-cell>

      </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns">

      </mat-row>

      <mat-row *matRowDef="let row; columns: ['groupHeader']; when: isGroup" (click)="groupHeaderClick(row)">

      </mat-row>

      <ng-container matColumnDef="namerequester">
        <mat-header-cell *matHeaderCellDef> Requerido por: </mat-header-cell>
        <mat-cell *matCellDef="let element" >{{element.namerequester}}
        </mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="mobile">
        <mat-header-cell *matHeaderCellDef> Celular </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.mobile}} </mat-cell>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
      </ng-container>


      <ng-container matColumnDef="fecharequerido">
        <mat-header-cell *matHeaderCellDef> Fecha Requerido </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.daterequested}} </mat-cell>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="message">
        <mat-header-cell *matHeaderCellDef> Mensaje </mat-header-cell>
        <mat-cell *matCellDef="let element" > <mat-icon (click)="openDialog($event, element)"> message</mat-icon> </mat-cell>
      </ng-container>





    </mat-table>
